In [2]:
#imports for processing and graphing data

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib notebook

In [8]:
#read csv file using pandas
local_path_data = 'Near-Earth_Comets_-_Orbital_Elements.csv'
data = pd.read_csv(local_path_data, index_col = 2)
print(data)

                                    Object  Epoch (TDB)         e     i (deg)  \
TP (TDB)
2455248.548           P/2004 R1 (McNaught)        54629  0.682527    4.894556
2454741.329  P/2008 S1 (Catalina-McNaught)        55101  0.666313   15.100746
2446467.395                      1P/Halley        49400  0.967143  162.262691
2456618.204                       2P/Encke        56870  0.848268   11.779995
2390514.115                       3D/Biela        -9480  0.751299   13.216400
...                                    ...          ...       ...         ...
2456937.650           P/2014 U2 (Kowalski)        56974  0.602949    7.495593
2457076.250          P/2015 A3 (PANSTARRS)        57040  0.848168  172.513745
2457073.248               C/2015 D1 (SOHO)        57073  0.994268   69.616289
2457141.343            C/2015 F2 (Polonia)        57110  0.962399   28.661030
2457109.599      C/2015 F5 (SWAN-Xingming)        57124  0.977734  149.256945

                w (deg)  Node (deg)    q (AU)  Q (AU)  P (yr)  MOID (AU)  \
TP (TDB)
2455248.548    0.626838  295.985450  0.986192    5.23    5.48   0.027011
2454741.329  203.649023  111.392003  1.190642    5.95    6.74   0.194101
2446467.395  111.332485   58.420081  0.585978   35.08   75.32   0.063782
2456618.204  186.540346  334.569806  0.336092    4.09    3.30   0.173092
2390514.115  221.658800  250.669000  0.879073    6.19    6.65   0.000518
...                 ...         ...       ...     ...     ...        ...
2456937.650   35.252210  356.180679  1.164298    4.70    5.02   0.183671
2457076.250  249.508614  277.082142  1.153857   14.05   20.95   0.204591
2457073.248  234.953017   95.881385  0.028321    9.85   10.98   0.515916
2457141.343  352.058758  262.481614  1.209544   63.13  182.45   0.198704
2457109.599   13.392330  287.739024  0.346005   30.73   61.26   0.441413

              A1 (AU/d^2)   A2 (AU/d^2)  A3 (AU/d^2)  DT (d)       ref  \
TP (TDB)
2455248.548           NaN           NaN          NaN     NaN        20
2454741.329           NaN           NaN          NaN     NaN        13
2446467.395  2.700000e-10  1.550000e-10          NaN     NaN   J863/77
2456618.204  1.580000e-10 -5.050000e-12          NaN     NaN        74
2390514.115  3.900000e-09 -2.540000e-10          NaN     NaN  IAUCAT03
...                   ...           ...          ...     ...       ...
2456937.650           NaN           NaN          NaN     NaN        10
2457076.250           NaN           NaN          NaN     NaN         1
2457073.248  1.250000e-06           NaN          NaN     NaN         3
2457141.343           NaN           NaN          NaN     NaN         6
2457109.599           NaN           NaN          NaN     NaN         2

                               Object_name
TP (TDB)
2455248.548           P/2004 R1 (McNaught)
2454741.329  P/2008 S1 (Catalina-McNaught)
2446467.395                      1P/Halley
2456618.204                       2P/Encke
2390514.115                       3D/Biela
...                                    ...
2456937.650           P/2014 U2 (Kowalski)
2457076.250          P/2015 A3 (PANSTARRS)
2457073.248               C/2015 D1 (SOHO)
2457141.343            C/2015 F2 (Polonia)
2457109.599      C/2015 F5 (SWAN-Xingming)

[160 rows x 16 columns]