In [2]:
#imports for processing and graphing data

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib notebook

In [14]:
#read csv file using pandas
local_path_data = 'Near-Earth_Comets_-_Orbital_Elements.csv'
data = pd.read_csv(local_path_data)
print(data)

                            Object  Epoch (TDB)     TP (TDB)         e  \
0             P/2004 R1 (McNaught)        54629  2455248.548  0.682527
1    P/2008 S1 (Catalina-McNaught)        55101  2454741.329  0.666313
2                        1P/Halley        49400  2446467.395  0.967143
3                         2P/Encke        56870  2456618.204  0.848268
4                         3D/Biela        -9480  2390514.115  0.751299
..                             ...          ...          ...       ...
155           P/2014 U2 (Kowalski)        56974  2456937.650  0.602949
156          P/2015 A3 (PANSTARRS)        57040  2457076.250  0.848168
157               C/2015 D1 (SOHO)        57073  2457073.248  0.994268
158            C/2015 F2 (Polonia)        57110  2457141.343  0.962399
159      C/2015 F5 (SWAN-Xingming)        57124  2457109.599  0.977734

        i (deg)     w (deg)  Node (deg)    q (AU)  Q (AU)  P (yr)  MOID (AU)  \
0      4.894556    0.626838  295.985450  0.986192    5.23    5.48   0.027011
1     15.100746  203.649023  111.392003  1.190642    5.95    6.74   0.194101
2    162.262691  111.332485   58.420081  0.585978   35.08   75.32   0.063782
3     11.779995  186.540346  334.569806  0.336092    4.09    3.30   0.173092
4     13.216400  221.658800  250.669000  0.879073    6.19    6.65   0.000518
..          ...         ...         ...       ...     ...     ...        ...
155    7.495593   35.252210  356.180679  1.164298    4.70    5.02   0.183671
156  172.513745  249.508614  277.082142  1.153857   14.05   20.95   0.204591
157   69.616289  234.953017   95.881385  0.028321    9.85   10.98   0.515916
158   28.661030  352.058758  262.481614  1.209544   63.13  182.45   0.198704
159  149.256945   13.392330  287.739024  0.346005   30.73   61.26   0.441413

      A1 (AU/d^2)   A2 (AU/d^2)  A3 (AU/d^2)  DT (d)       ref  \
0             NaN           NaN          NaN     NaN        20
1             NaN           NaN          NaN     NaN        13
2    2.700000e-10  1.550000e-10          NaN     NaN   J863/77
3    1.580000e-10 -5.050000e-12          NaN     NaN        74
4    3.900000e-09 -2.540000e-10          NaN     NaN  IAUCAT03
..            ...           ...          ...     ...       ...
155           NaN           NaN          NaN     NaN        10
156           NaN           NaN          NaN     NaN         1
157  1.250000e-06           NaN          NaN     NaN         3
158           NaN           NaN          NaN     NaN         6
159           NaN           NaN          NaN     NaN         2

                       Object_name
0             P/2004 R1 (McNaught)
1    P/2008 S1 (Catalina-McNaught)
2                        1P/Halley
3                         2P/Encke
4                         3D/Biela
..                             ...
155           P/2014 U2 (Kowalski)
156          P/2015 A3 (PANSTARRS)
157               C/2015 D1 (SOHO)
158            C/2015 F2 (Polonia)
159      C/2015 F5 (SWAN-Xingming)

[160 rows x 17 columns]